<!DOCTYPE html>
<html lang="ru" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Weather readiness</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="~/WeatherFront/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Loading main css file -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/WeatherFront/css/style.css">

</head>


<body style="height: 100%;">
    <div style="
        position: relative;
        min-height: 100%;
        background: #1e202b;
        padding-bottom: 20px
" class="site-content">
        <div style="padding-bottom: 90px;" class="site-content">
            <div class="site-header">
                <div class="container">
                    <a asp-action="index" asp-controller="Home" class="branding">
                        <img src="~/WeatherFront/images/logo.png" alt="" class="logo">
                        <div class="logo-type">
                            <h1 class="site-title">ПогодоГотовность</h1>
                            <small class="site-description">Simbirsoft</small>
                        </div>
                    </a>
                    <!-- Default snippet for navigation -->
                    <div class="main-navigation">
                        <ul class="menu">
                            <li class="menu-item current-menu-item">
                                <a asp-action="index" asp-controller="Home"><i class="fa fa-sun-o"></i>  Погода</a>
                            </li>
                            <li class="menu-item">
                                <a asp-action="Event" asp-controller="Home"><i class="fa fa-calendar"></i>  Запланировать событие</a>
                            </li>
                            <li class="menu-item">
                                <a asp-action="EventList" asp-controller="Home"><i class="fa fa-list"></i>  Мои события</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="menu-item">
                                    <a asp-action="Login" asp-controller="Account"><i class="fa fa-user-circle"></i> @await Component.InvokeAsync("UserIdentityName", User.Identity.Name)</a>
                                </li>
                            }
                            else
                            {
                                <li class="menu-item">
                                    <a asp-action="Login" asp-controller="Account"><i class="fa fa-user-secret"></i> Вход</a>
                                </li>
                            }

                        </ul> <!-- .menu -->
                    </div> <!-- .main-navigation -->
                </div>
            </div> <!-- .site-header -->


            @RenderBody()
        </div>


        <footer style="text-align:center; position: absolute;left: 0;bottom: 0;width: 100%;height: 80px;" class="site-footer">
            <p style="margin: 0 auto 0 auto; width:300px" class="colophon">Летний Интенсив 2021. Группа: kb1_dotnet</p>
        </footer> <!-- .site-footer -->
    </div>



</body>

</html>
