@{



}
@model Simbirsoft_Weather.Models.RegistrationModel
   

    <div class="container">
        <h3 class="text-left">Регистрация</h3>
        <form method="post" asp-controller="Account" asp-action="Registration">
            <div class="badge-danger" asp-validation-summary="All"></div>
            <fieldset class="form-group">
                <div>
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email"  maxlength="40" autocomplete="off" type="email" />

                </div>
            </fieldset>
            <fieldset class="form-group">
                <div>
                    <label asp-for="Name"></label><br />
                    <input asp-for="Name" maxlength="20" autocomplete="off" />
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label asp-for="Region" class="form-label"></label>
                <input type="text" autocomplete="off" list="Region1" maxlength="30" asp-for="Region" class="form-control" />
                <datalist id="Region1">
                    @foreach (var item in ViewBag.Cities)
                    {
                        <option>@item.City_Ru</option>
                    }
                </datalist>
            </fieldset>
            <fieldset class="form-group">
                <div>
                    <span>Пол</span><br />
                    <label asp-for="Gender">Женский</label>
                    <input type="radio" asp-for="Gender" value="false">
                    <label asp-for="Gender">Мужской</label>
                    <input type="radio" asp-for="Gender" value="true" />
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div>
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" type="password" maxlength="20" autocomplete="off" id="password-input" />
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div>
                    <label asp-for="PasswordConfirm"></label><br />
                    <input id="password-input2" type="password" autocomplete="off" maxlength="20" asp-for="PasswordConfirm" />
                    <label><input type="checkbox" class="password-checkbox" autocomplete="off">Показать пароль</label>
                </div>
            </fieldset>
            <div>
                <input type="submit" class="btn pull-left" value="Зарегистрироваться" />
                <a asp-action="index" asp-controller="Home" class="btn badge-danger pull-right">Отмена</a>
            </div>
        </form>




        <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $('body').on('click', '.password-checkbox', function () {
                if ($(this).is(':checked')) {
                    $('#password-input').attr('type', 'text');
                } else {
                    $('#password-input').attr('type', 'password');
                }
            });

            $('body').on('click', '.password-checkbox', function () {
                if ($(this).is(':checked')) {
                    $('#password-input2').attr('type', 'text');
                } else {
                    $('#password-input2').attr('type', 'password');
                }
            });
        </script>
    </div>